
<header>
    <div class="container-fluid">
        <c-corporate-header site-name="Track&Trace - Outbound" short-name="Track&Trace - Outbound" site-url="/">
            <nav-item location="#">Optional</nav-item>
            <nav-item location="#">User Menu</nav-item>
        </c-corporate-header>
        <c-main-content style="padding-top:0px">
            <c-main-navigation>
                <primary-items>
                    <nav-item location="/TrackNTrace/TrackNtrace/Index">Home</nav-item>
                    <nav-item location="http://tracker-tracer.s3-eu-west-1.amazonaws.com/Outbound.html">Terrestre</nav-item>
                    <nav-item location="/TrackNTrace/CadastroDeNavios/Index">Cadastro de Navios</nav-item>
                    <nav-item location="/TrackNTrace/CadastroDePontos/Index">Cadastro de Portos</nav-item>
                    <nav-item location="/TrackNTrace/Maritimos/Create">Criação de Nova Remessa</nav-item>
                </primary-items>
            </c-main-navigation>
    </div>

</header>