

body{
    min-height:660px;    
    max-width:1960px;
}
#chargerBar {
    height: 10px;
  
}
.progress-bar {
    width: 100%
}
.btn-group > .btn:first-child {
    margin-left: -200px
}
@media (max-width: 991px){
    #map {
        height: 660px;
        width: 990px;
        margin-left: -350px;
    }
}
@media (max-width: 1410px) {
    #map {
        height: 660px;
        width: 1430px;
        margin-left: -350px;
    }
}
@media (max-width: 2000px) {
    #map {
        height: 660px;
        width: 1960px;
        margin-left: -350px;
    }
}