


<body>
    <div style="background-color:red; min-height:800px">
        <h1>Erro</h1>
        <h3>Ocorreu um erro durante a exibição desta pagina. Para continuar, use o menu acima para acessar a pagina desejada!</h3>
        <h1><img class="irc_mi" src="https://tipkingdom.com/wp-content/uploads/2018/05/windows_bug6-100581894-primary-idge.jpg" alt="Resultado de imagem para error" width="602" height="401" style="position:center"></h1>
    </div>
</body>